<?xml version="1.0" encoding="UTF-8"?>

<!--
 - SPDX-FileCopyrightText: 2026 John Molakvoæ <skjnldsv@protonmail.com>
 - SPDX-License-Identifier: AGPL-3.0-or-later
-->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor-bin/phpunit/vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         failOnWarning="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">lib</directory>
        </include>
    </source>
</phpunit>
